* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    /* The width and height of an element is true to the dimensions assigned to "width" and "height" */
    text-decoration: none;
    color: white;
}

/* Web-page navigation bar settings */

.navigation {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 5px 5%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    z-index: 1;
}

.nav-list {
    display: flex;
}

#menu-icon {
    width: 28px;
    z-index: 1;
}

.logo {
    font-size: 25px;
    letter-spacing: 1px;
}

.nav-bar a {
    margin-left: 35px;
    color: white;
    transition: 0.3s;
}

.nav-bar a:hover,
.nav-bar a#active {
    color: #FFC300;
    transition: .5s;
}

.nav-bar a#active {
    text-decoration: overline;
}

/* Responsive navigation bar settings */

@media screen and (min-width: 763px) {

    .navigation #menu-icon,
    .menu-button {
        display: none;
    }
}

@media screen and (max-width: 762px) {
    .navigation .nav-word {
        display: none;
    }
}

@media screen and (max-width: 1120px) {
    .navigation {
        transition: 3s;
        border-bottom: 2px solid #FFC300;
        background-color: #003566;
        z-index: 1;
    }
}

@media screen and (min-width: 1121px) {
    .navigation {
        transition: 3s;
        background-color: #003566;
    }
}

#menu-button {
    background-color: #003566;
    border: none;
}

#menu-button {
    cursor: pointer;
}


/* background colour of enitre website */

body {
    background-color: #003566;
}

.landing-page {
    display: flex;
    height: 100vh;
    background: url('assets/landing-avatar.png') no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 0px 10%;
}

.landing-content {
    position: relative;
    max-width: 60%;
}

.landing-bg {
    display: none;
}

.landing-content h1 {
    font-size: 45px;
    line-height: 1.2;
    /* line spacing */
    color: white;
}

.landing-content h3 {
    font-size: 15px;
    margin: 20px 0 40px;
}

.landing-content p {
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#front-end-dev {
    color: #FFC300;
}
/* 
conact-me and portfolio landing page buttons */

.landing-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

#btn-box {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    /* turns elements into inline  */
    height: 100%;
    /* redundnat or what? */
    background: #FFC300;
    border: 2px solid #FFC300;
    border-radius: 8px;
    /* rounding the edges of a border  */
    font-size: 17.5px;
    color: #003566;
    font-weight: 600;
    /* button text boldness */
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

#btn-box:hover {
    color: #FFC300;
}

.landing-buttons a {
    color: #003566;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.landing-buttons #btn-box:nth-child(2) {
    background: transparent;
    color: #FFC300;
    margin-left: 15px;
}

.landing-buttons #btn-box:nth-child(2):hover {
    color: #003566;
}

.landing-buttons #btn-box:nth-child(2)::before {
    background-color: #FFC300;
}

#btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #003566;
    z-index: -1;
    transition: 0.5s;
}

#btn-box:hover::before {
    width: 100%;
}

.social-logo img {
    width: 40px;
}

.tech-stack {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    height: 50px;
}

.tech-stack-wrapper p {
    align-items: center;
    margin-right: 15px;
}

.tech-stack img {
    margin: 0px 3px 3px;
    width: 35px;
    height: 35px;
}


/* Web-page downscale responsiveness */

@media screen and (max-width: 900px) {
    .landing-content {
        max-width: 50%;
    }
}

@media screen and (max-width: 900px) {
    .landing-buttons #btn-box:nth-child(2) {
        margin-left: 0px;
    }
}


/* iPhone Responsiveness */

@media screen and (max-width: 390px) {
    .landing-content {
        top: 25px;
        max-width: 100%;
    }

    .landing-bg {
        top: 15px;
    }

    .landing-bg img {
        width: 150px;
    }

    .landing-content h1 {
        font-size: 35px;
    }

    .landing-content h2 {
        font-size: 18px;
        text-align: center;
    }

    .media-icons {
        margin-top: 12px;
    }

    .tech-stack-wrapper p {
        font-size: 12px;
        align-items: center;
    }

    .tech-stack-wrapper {
        top: 275px
    }
}

@media screen and (max-width: 1150px) {
    .landing-page {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: none;
    }

    .landing-buttons {
        text-align: center;
    }

    .landing-buttons #btn-box {
        height: 40px;
    }

    .landing-content {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;

    }

    .landing-content h1 {
        text-align: center;
    }

    .landing-content p {
        text-align: center;
    }

    .media-icons {
        display: flex;
        justify-content: center;
    }

    .tech-stack {
        display: flex;
        justify-content: center;
    }

    .landing-bg {
        display: flex;
        position: relative;
    }

    .landing-bg img {
        width: 300px;
        z-index: -1;
    }

    .landing-buttons #btn-box:nth-child(2) {
        margin-left: 0px;
    }
}

/* RESUME PAGE */

/* resume header section */

.resume-intro {
    display: flex;
    position: relative;
    justify-content: center;
    min-height: 250px;
    top: 75px;
    border-bottom: 4px solid #FFC300;
    border-radius: 5px;
}

#resume-profile-word {
    color: #FFC300;
}

.resume-intro h1 {
    display: flex;
    position: relative;
    justify-content: center;
}

.resume-intro p {
    text-align: center;
}

.resume-content {
    display: inline-block;
    line-height: 2;
    align-self: center;
}

.avatar-circle {
    height: 150px;
    align-self: center;
}

.individual-span {
    display: flex;
    justify-content: center;
}

.profile-icon {
    width: 25px;
    margin-right: 15px;
    margin-left: 15px;
}

.profile-btns {
    display: flex;
    justify-content: center;
    margin-top: 7px;
}

.profile-btns #btn-box {
    z-index: 1;
}


/* resume content section  */


.blueprint-body-container {
    display: flex;
    position: relative;
    top: 75px;
    background-image: url(assets/blueprint-bg.jpg);
    background-position: center;
    height: auto;
    border-bottom: 4px solid #FFC300;
}


.blueprint-body-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.blueprint-body-container p,
h1,
li,
h3,
h4 {
    color: black;
}

.resume-container1 {
    display: flex;
    justify-content: center;
    position: relative;
    width: 250px;
    height: 350px;
    margin: 15px;
    background-color: #FFC300;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    transition: all .6s ease;
}


.education-content {
    text-align: center;
}

.education-word {
    margin: 15px;
}

.resume-container2 {
    display: flex;
    position: relative;
    width: 250px;
    height: 350px;
    margin: 15px;
    background-color: #FFC300;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    transition: all .6s ease;
}

.skills-content {
    text-align: center;
    overflow: hidden;
}

.skills-word {
    margin: 15px;
}

.skills-title {
    font-size: 15px;
}

.traits-title {
    font-size: 15px
}

.resume-container3 {
    display: flex;
    position: relative;
    width: 250px;
    height: 350px;
    margin: 15px;
    background-color: #FFC300;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    transition: all .6s ease;
}

.employment-content {
    line-height: 1.5;
}

.employment-content h3 {
    font-size: 15px;
}

.employment-content p {
    font-size: 13px;
}

.employment-word {
    margin: 15px;
}

.resume-container4 {
    display: flex;
    position: relative;
    width: 250px;
    height: 350px;
    margin: 15px;
    background-color: #FFC300;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    transition: all .6s ease;
}

.placement-word {
    margin: 15px;
}

.resume-container1:hover {
    transform: scale(1.1);

}

.resume-container2:hover {
    transform: scale(1.1);

}

.resume-container3:hover {
    transform: scale(1.1);

}

.resume-container4:hover {
    transform: scale(1.1);

}

/* resume responsiveness section */


@media screen and (max-width: 600px) {
    .resume-content {
        overflow: hidden;
    }
}

@media screen and (max-width: 600px) {
    .individual-span p {
        margin: 5px;
        font-size: 10px;
    }
}

@media screen and (max-width: 800px) {
    .resume-intro {
        display: flex;
        flex-direction: column;
    }

    .resume-content p {
        font-size: 13px;
    }

    .resume-content h1 {
        font-size: 17px;
    }

    .resume-content #btn-box {
        font-size: 15px;
    }

    .profile-icon {
        width: 20px
    }

    .resume-intro {
        height: 375px;
    }
}

/* Portfolio CSS */

/* portfolio header */

.portfolio-header {
    display: flex;
    position: relative;
    top: 35px;
    margin-top: 75px;
    justify-content: center;
    text-align: center;
}

.portfolio-header-title-container {
    display: flex;
    position: relative;
    flex-direction: column;
    line-height: 2;
}


.portfolio-header-title-container h1 {
    color: #FFC300;
}


/* portfolio content section */

.portfolio-big-container {
    display: flex;
    justify-content: center;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
    max-width: 1010px;
    background-color: #e1b382;
    box-shadow: 15px 15px black;
    padding: 15px;
    flex-direction: row;
    justify-content: center;
}

.project-container {
    display: flex;
    position: relative;
    /* width: 840px; */
    height: 350px;
}

.website-sc {
    display: flex;
    position: relative;
    width: 550px;
    box-shadow: 5px 5px 5px;
}

.website-para {
    margin-bottom: 3px
}

.website-para strong {
    color: #003566;
    font-weight: 600;
    text-decoration: underline;
}

.website-text-container {
    display: flex;
    flex-direction: column;
    margin: 15px;
    background-color: #FFC300;
    border-radius: 3px;
    height: 260px;
    width: 350px;
    box-shadow: 5px 5px 25px black;

}

.website-text-container h1 {
    font-size: 15px;
    text-align: center;
}

.website-text-container p {
    font-size: 12px;
    text-align: center;
    color: black;
    margin: 35px
}

.website-title {
    display: flex;
    justify-content: center;
    align-items: CENTER;
    height: 75px;
}

.website-para {
    display: flex;
    align-items: center;
    height: 75px;
}

.portfolio-techstack-container {
    display: flex;
    justify-content: center;
}

.portfolio-techstack {
    display: inline-block;
    width: 35px;
    margin: 5px;
}

.portfolio-btns-container {
    display: flex;
    justify-content: center;
}

.portfolio-btns {
    display: inline-block;
    width: 35px;
    justify-content: center;
}

.portfolio-bottom-btn {
    color: black;
    font-size: 11px;
    padding: 1px 2px;
}

.portfolio-word-btn {
    display: inline;
    position: relative;
    align-items: center;
    top: 5px;
    border-color: #003566;
    color: #003566;
    background-color: #FFC300;
    border-radius: 7px;
    margin: 3px;
    padding: 2px;
}

/* portfolio responsiveness section  */

@media screen and (max-width: 840px) {
    .project-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 450px;
    }

    .website-sc {
        width: 350px;
    }

    .website-text-container {
        margin: 15px;
        height: 190px;
        width: 350px;
    }

    .project-container .sc-container:nth-child(2) {
        order: 1;
    }

    .project-container .website-text-container:nth-child(1) {
        order: 2;
    }
}

/* Blog-page CSS */

/* blog page header section  */

.blog-header {
    display: flex;
    position: relative;
    top: 35px;
    margin-top: 75px;
    justify-content: center;
    text-align: center;
}

.blog-header-title-container {
    display: flex;
    position: relative;
    flex-direction: column;
    line-height: 2;
}

.blog-big-container {
    display: flex;
    justify-content: center;
}

.blog-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    /* height: 1750px; */
    margin: 75px 225px 225px;
    max-width: 1010px;
    background-color: #e1b382;
    box-shadow: 15px 15px black;
    padding: 15px;
}


.blog-header h1 {
    color: #FFC300;
}


/* blog content section  */

.blog-container p {
    margin-top: 5px;
}

.blog-photo-container1 {
    box-shadow: 15px 15px indigo;
    height: 346px;
    margin-bottom: 15px;
}

.blog-photo-container1 img {
    width: 350px;
}

.blog-content-container1 {
    background-color: #FFC300;
    /* align-self: center; */
    height: 336px;
    margin: 15px;
    border-radius: 50px;
    padding: 50px;
    width: 450px;
    overflow: hidden;
}

.blog-photo-container2 img {
    width: 450px;
}

.blog-content-container2 {
    background-color: orange;
    padding: 50px;
    border-radius: 50px;
    width: 1030px;
    height: 350px;
    margin: 15px;
    margin-top: 25px;
    overflow: hidden;
}

.blog-photo-container2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.blog-photo-container2 #blog-photo2 {
    box-shadow: 15px 15px paleturquoise;
}

.blog-photo-container2 #blog-photo1 {
    box-shadow: 15px 15px tomato;
}

.blog-content-container3 {
    background-color: #FFD60A;
    padding: 50px;
    border-radius: 50px;
    width: 400px;
    height: 550px;
    margin: 15px;
    margin-top: 25px;
    overflow: hidden;
}

.blog-photo-container3 {
    width: 450px;
    margin-bottom: 50px;
}

.blog-photo-container3 img {
    margin-top: 35px;
    width: 450px;

}

.blog-photo-container3 #blog-photo3 {
    box-shadow: 15px 15px sienna;
}

.blog-photo-container3 #blog-photo4 {
    box-shadow: 15px 15px bisque;
}

.blog-photo-container4 {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 350px
}

.blog-photo-container4 img {
    width: 350px;
    box-shadow: 15px 15px plum;
}

.blog-content-container4 {
    background-color: goldenrod;
    padding: 50px;
    border-radius: 50px;
    width: 500px;
    height: 400px;
    margin: 15px;
    margin-top: 25px;
    overflow: hidden;
}

/* Blog-page Responsiveness */

@media screen and (max-width: 430px) {
    .blog-photo-container1 {
        box-shadow: 3px 15px indigo;
    }

    .blog-photo-container2 #blog-photo1 {
        box-shadow: 10px 10px tomato;
    }

    .blog-photo-container2 #blog-photo2 {
        box-shadow: 10px 10px paleturquoise;
    }

    .blog-photo-container3 #blog-photo3 {
        box-shadow: 3px 15px sienna;
    }

    .blog-photo-container3 #blog-photo4 {
        box-shadow: 3px 15px bisque;
    }

    .blog-photo-container4 img {
        box-shadow: 3px 15px plum;
    }
}



@media screen and (max-width: 935px) {
    .blog-container h1 {
        font-size: 18px;
    }


    #blog-photo1 {
        width: 330px;
    }

    #blog-photo2 {
        width: 330px;
    }

    #blog-photo3 {
        width: 350px;
    }

    #blog-photo4 {
        width: 350px;
    }

    #blog-photo5 {
        width: 350px;
    }

    .blog-content-container3 {
        width: 350px;
    }

}

@media screen and (max-width: 1280px) {
    .blog-container {
        margin: 75px 25px 25px;
    }
}

@media screen and (max-width: 1150px) {
    .blog-big-container {
        display: block;
    }

    .blog-container {
        margin: 75px 15px 15px;
    }
}

/* About-me CSS */


.aboutme-header {
    display: flex;
    position: relative;
    top: 35px;
    margin-top: 75px;
    justify-content: center;
    text-align: center;
}

.aboutme-header-title-container {
    display: flex;
    position: relative;
    flex-direction: column;
    line-height: 2;
}

.aboutme-header-title-container h1 {
    color: #FFC300;
}

#aboutme-desc {
    color: #FFF;
}



/* aboutme Slideshow CSS  */


.slideshow-container {
    margin-top: 75px;
    /* border-bottom: 4px solid #FFC300 ; */
}

.slider-wrapper {
    position: relative;
    max-width: 750px;
    /* forces the images to take up that much space */
    margin: 0 auto;
    /* left and right auto means the image will center itself on the slider horizontally */
}

.slider {
    display: flex;
    aspect-ratio: 16 / 9;
    /* this sets the aspect ratio of images, an attribute i didn't know existed */
    overflow-x: auto;
    /* the images that overflow will have a scrollbar that will allow the user to scroll the images left to right */
    scroll-snap-type: x mandatory;
    /* the "x" value actions the sliding images to snap along the x-axis, the mandatory 
    value is a conditional value which forces images to always snap to the next position  */
    scroll-behavior: smooth;
    /* smoothens the scroll transition */
    box-shadow: 0 1.5rem 3rem -0.75rem (0, 0%, 0%, 0.25);
    /* boxshadow: x offset, y offset, blur, spread - hsla: hue, saturation, lightness, alpha  */
    border-radius: px;
}

.slider img {
    flex: 1 0 100%;
    /* flex is a short-hand property which controls: flex grow, flex shrink, flex basis  */
    /* flex grow to 1 every image is an equal size within the container  */
    /* flex shrink to 0 every image will retain the width it needs and will prevent wrapping  */
    /* flex basis every image will have an initial size of 100% (taking up the entire parent container) */
    scroll-snap-align: start;
    /* images will snap or stop at the start of the image element of the parent container */
    object-fit: cover;
    /* this makes the image fit the height and width of the container whilst maintained aspect ratio  */
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #FFF;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 100%;
}



/* about me tab/panels  */

.blueprint-body-container2 {
    display: flex;
    position: relative;

    background-image: url(assets/blueprint-bg.jpg);
    background-position: center;
    height: auto;
    border-top: 4px solid #FFC300;
    border-bottom: 4px solid #FFC300;
}

.blueprint-body-container2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.aboutme-container1 {
    display: flex;
    justify-content: center;
    position: relative;
    width: 250px;
    height: 350px;
    margin: 15px;
    background-color: #FFC300;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    transition: all .6s ease;
}

.aboutme-container2 {
    display: flex;
    justify-content: center;
    position: relative;
    width: 250px;
    height: 350px;
    margin: 15px;
    background-color: #FFC300;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    transition: all .6s ease;
    overflow: hidden;
}

.aboutme-container3 {
    display: flex;
    justify-content: center;
    position: relative;
    width: 250px;
    height: 350px;
    margin: 15px;
    background-color: #FFC300;
    border-radius: 10px;
    box-shadow: 5px 5px black;
    transition: all .6s ease;
}

.hobbies-content1,
.hobbies-content2,
.hobbies-content3 {
    text-align: center;
}

.hobbies-heading {
    padding: 20px;
}

.aboutme-container1:hover {
    transform: scale(1.1);
}

.aboutme-container2:hover {
    transform: scale(1.1);
}

.aboutme-container3:hover {
    transform: scale(1.1);
}