* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans JP', sans-serif;
    box-sizing: border-box;  /* The width and height of an element is true to the dimensions assigned to "width" and "height" */
    text-decoration: none;
    color: white; 
}

/* .landing-page {
    position: relative;
    height: 100%;
    background-color: blue;
} */

/* Web-page navigation bar settings */

.navigation {
    position: fixed; 
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 5px 5%;
    background-color: transparent; 
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 35px;
    z-index: 1;
}

.nav-list {
    display: flex;
}

#menu-icon {
    width: 30px;
    z-index: 1;
}

.logo {
    font-size: 25px;
    letter-spacing: 1px;
}

.nav-bar a {
    margin-left: 35px;
    color: white; 
    transition: 0.3s;
}

.nav-bar a:hover,
.nav-bar a#active {
    color: #FFC300;
    transition: .5s;
}

.nav-bar a#active {
    text-decoration: overline;
}

/* Responsive navigation bar settings */

@media screen and (min-width: 731px) {
    .navigation #menu-icon, .menu-button {
        display: none;
    }
}

@media screen and (max-width: 730px) {
    .navigation .nav-word {
        display: none;
    }
}

@media screen and (max-width: 731px) {
    .navigation .menu-icon {
        
    }
}

@media screen and (max-width: 1120px) {
    .navigation {
        transition: 3s;
        border-bottom: 2px solid #FFC300;
        background-color: #003566;
        z-index: 1;
    }
}

@media screen and (min-width: 1121px) {
    .navigation {
        transition: 3s;
        background-color: #003566;
    }
}

#menu-button {
    background-color: #003566;
    border: none;
}

#menu-button {
    cursor: pointer;
}

#menu-button:active {

}



body {
    background-color: #003566;
}

.landing-page {
    display: flex;
    height: 100vh;
    background: url('potential-assets/landing-avatar.png') no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 0px 10%; 
}


/* .landing-page #landing-bg {
    position: relative;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 0px 10%; 
    z-index: -1;
} */

.landing-content {
    position: relative;
    max-width: 60%; 
}

#landing-bg {
    display: none;
}



.landing-content h1 {
  font-size: 45px;
  font-weight: 700px;
  line-height: 1.2; /* line spacing */
  color: white;
}

.landing-content h3 {
    font-size: 15px;
    margin: 20px 0 40px;
} 

.landing-content p {
    font-size: 17px;
    font-weight: 0;
    margin: 20px 0 40px;
}

#front-end-dev {
    color: #FFC300;
}

.landing-content .btn-box {
    display: flex; 
    justify-content: space-between;
    width: 345px;
    height: 50px;  
}

#btn-box {
    position: relative;
    display: inline-flex; 
    justify-content: center;
    align-items: center;
    width: 150px; /* turns elements into inline  */
    height: 100%; /* redundnat or what? */  
    background: #FFC300;
    border: 2px solid #FFC300;
    border-radius: 8px; /* rounding the edges of a border  */
    font-size: 17.5px; 
    color: #003566;
    font-weight: 600; /* button text boldness */
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

#btn-box:hover {
    color: #FFC300;
}

.landing-buttons a {
    color: #003566;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.landing-buttons #btn-box:nth-child(2) {
    background: transparent;
    color: #FFC300;
    margin-left: 15px;
}

.landing-buttons #btn-box:nth-child(2):hover {
    color: #003566;
}

.landing-buttons #btn-box:nth-child(2)::before {
    background-color: #FFC300;
}

#btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #003566;
    z-index: -1;
    transition: 0.5s;
}

#btn-box:hover::before {
    width: 100%;
}

.media-icons {
    display: flex;
}

.social-logo {
    width: 40px;
}


/* Web-page downscale responsiveness */

@media screen and (max-width: 900px) {
    .landing-content {
        max-width: 50%;
        }
}


@media screen and (max-width: 900px) {
    .landing-buttons #btn-box:nth-child(2) {
        margin-left: 0px;
        }
}

/* inbetween responsiveness  */

@media screen and (max-width: 880px) {
    
}


/* iPhone Responsiveness */
@media screen and (max-width: 390px) {
    .media-icons {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 390px) {
    .landing-page {
    /* display: flex;
    position: absolute;
    height: 400px;
    top: 275px; */
    background: none; 
    }
}

@media screen and (max-width: 390px) {
    .landing-content {
        position: absolute;
        text-align: center;
        bottom: 375px;
        max-width: 100%;
        right: 0.05px;
    }
}

@media screen and (max-width: 390px) {
    .landing-buttons #btn-box:nth-child(2) {
    margin-left: 0px;
    }
}

@media screen and (max-width: 390px) {
    #landing-bg {
        display: block;
        position: relative;
        flex-wrap: wrap;
        width: 500px;
        right: 215px;
        top: 175px;
        z-index: -1;
    }
}

/* @media screen and (min-width: 389px) {
    #landing-bg {
        display: block;
        position: absolute;
        flex-wrap: wrap;

        top: 250px;
        z-index: -1;
    }
} */


/* @media screen and (max-width: 800px) {
    .landing-content {
        max-width: 100%;
    }
} */



/* RESUME PAGE */

/* .resume-header {
    background-color: red;
    height: 350px;
}

.resume-intro {
    background-color: green; 
    position: relative;
    flex-wrap: wrap;
    top: 75px;
    height: 350px;
    display: block;
    justify-content: center;
    text-align: center;
}

.resume-intro h1 {
   position: relative;
   display: block;
   line-height: 2;
}

.avatar-circle {
    position: relative;
    display: inline;
    justify-content: center;
    height: 150px;
    background-color: teal;
} */


------

.resume-header {
}

.resume-intro {
    display: flex;
    position: relative;
    justify-content: center;
    min-height: 250px;
    top: 75px;
    border-bottom: 4px solid #FFC300;
    border-radius: 5px;
}

#resume-profile-word {
    color: #FFC300;
}

.resume-intro h1 {
    display: flex;
    position: relative;
    justify-content: center;
}

.resume-intro p {
    text-align: center;
}

.resume-content {
    display: inline-block;
    line-height: 2;
    align-self: center;
}

.avatar-circle {
    height: 150px;
    align-self: center;
}

.profile-btns {
    display: flex;
    justify-content: center;
    margin-top: 7px;
}

.profile-btns #btn-box{
    z-index: 1;
}

.resume-body-container {
    display: flex;
    position: relative;
    top: 75px;
    background-image: url(potential-assets/blueprint-bg.jpg);
    background-position: center ;
    height: auto;
    border-bottom: 4px solid #FFC300;
}

/* .resume-body-container {
    display: flex;
    height: 100vh;
    background: url('potential-assets/landing-avatar.png') no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 0px 10%; 
} */

.resume-body-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.resume-body-container p, h1, li, h3, h4 {
    color: black;
}

.resume-container1 {
    display: flex;
    justify-content: center;
    position: relative;
    width: 250px;
    height: 350px;
    margin: 15px;
    background-color: aliceblue;
    opacity: 0.5;
    border-radius: 10px;
}

.education-content {
    text-align: center;
}

.education-word {
    margin: 15px;
}

.education-title {

}

.resume-container2 {
    display: flex;
    position: relative;
    width: 250px;
    height: 350px;
    margin: 15px;
    background-color: aliceblue;
    opacity: 0.8;
    text-align: center;
    border-radius: 10px;
}

.skills-content {
    text-align: center;
    overflow: hidden;
}

.skills-word {
    margin: 15px;
}

.skills-title {
    font-size: 15px;
}

.traits-list {
    font-style: black;
}

.resume-container3 {
    display: flex;
    position: relative;
    width: 250px;
    height: 350px;
    margin: 15px;
    background-color: aliceblue;
    opacity: 0.8;
    text-align: center;
    border-radius: 10px;
}

.employment-content h3 {
    font-size: 15px;
}

.employment-word {
    margin: 15px;
}

.resume-container4 {
    display: flex;
    position: relative;
    width: 250px;
    height: 350px;
    margin: 15px;
    background-color: aliceblue;
    opacity: 0.8;
    text-align: center;
    border-radius: 10px;
}

.placement-word {
    margin: 15px;
}

@media screen and (max-width: 800px) {
    .resume-content p {
        font-size: 13px;
    }
    .resume-content h1 {
        font-size: 17px;
    }
    .resume-content #btn-box {
        font-size: 15px;
    }
}

@media all and (min-width: 800px) {
    .resume-intro {

    }
}

@media all and (min-width: 800px) {
    .resume-container1 {
    }
}

@media all and (min-width: 800px) {
    .resume-container1 {
    }
}

/* Portfolio CSS */

.portfolio-header {
    display: flex;
    position: relative;
    top: 35px;
    margin-top: 75px;
    justify-content: center;
    text-align: center;
}

.portfolio-header-title-container {
    display: flex;
    position: relative;
    flex-direction: column;
    line-height: 2;
}


.portfolio-header-title-container h1 {
    color: #FFC300;
}


.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
    flex-direction: row;
    justify-content: center;
}

.project-container {
    display: flex;
    position: relative;
    width: 840px;
    height: 350px;
}

.website-sc {
    display: flex;
    position: relative;
    width: 550px;
    box-shadow: 5px 5px 5px;
}

.website-text-container {
    display: flex;
    flex-direction: column;
    margin: 15px;
    background-color: #FFC300;
    border-radius: 3px;
    height: 260px;
    width: 350px;
    box-shadow: 5px 5px 25px black;

}

.website-text-container h1 {
    font-size: 15px;
    text-align: center;
}

.website-text-container p {
    font-size: 12px;
    text-align: center;
    color: black;
    margin: 35px
}

.website-title {
    display: flex;
    justify-content: center;
    align-items: CENTER;
    height: 75px;
}

.website-para {
    display: flex;
    align-items: center;
    height: 75px;
}

.portfolio-techstack-container {
    display: flex;
    justify-content: center;
}

.portfolio-techstack {
    display: inline-block;
    width: 35px;
    margin: 5px;
}

.portfolio-btns-container {
    display: flex;
    justify-content: center;
}

.portfolio-btns {
    display: inline-block;
    width: 35px;
    justify-content: center;    
}

.portfolio-bottom-btn {
    color: black;
    font-size: 11px;
    padding: 1px 2px;
}

#portfolio-word-btn {
    display: inline;
    position: relative;
    align-items: center;
    top: 5px;
    border-color: #003566;
    color: #003566;
    background-color:#FFC300;
    border-radius: 7px;
    margin: 3px;
    padding: 2px;
}

@media screen and (max-width: 840px) {
    .portfolio-container {
        /* display: flex;
        flex-wrap: wrap;
        margin: 75px 210px 0px 210px; 
        flex-direction: row;
        justify-content: center; */
        display: flex;
    }
    
    .project-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 450px ;
    }

    .website-sc {
        width: 350px;
    }

    .website-text-container {
        margin: 15px;
        height: 190px;
        width: 350px;
    }

    /* .project-container:nth-child(even) {
        order: 1; 
    } */

    .project-container .sc-container:nth-child(2) {
        order: 1;
    }
  
    .project-container .website-text-container:nth-child(1) {
        order: 2;
    }
}

/* Blog-page CSS */

.blog-header{
    display: flex;
    position: relative;
    top: 35px;
    margin-top: 75px;
    justify-content: center;
    text-align: center;
}

.blog-header-title-container {
    display: flex;
    position: relative;
    flex-direction: column;
    line-height: 2;
}

.blog-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 1750px;
    margin: 75px 225px 225px;
    /* background-color: aliceblue; */
}

.blog-header h1 {
    color: #FFC300;
}

.blog-container p {
    margin-top: 5px;
}

.blog-photo-container1 {
   box-shadow: 15px 15px indigo;
   height: 346px;
   margin-bottom: 15px;
}

.blog-photo-container1 img {
    width: 350px;
}

.blog-content-container1 {
    background-color: #FFC300;
    /* align-self: center; */
    height: 336px;
    margin: 15px;
    border-radius: 50px;
    padding: 50px;
    width: 450px;
    overflow: hidden;
}

.blog-photo-container2 img {
    width: 450px;
}

.blog-photo-container2.5 img {
    width: 450px;
}

.blog-content-container2 {
    background-color: orange;
    padding: 50px;
    border-radius: 50px;
    width: 1030px;
    height: 350px;
    margin: 15px;
    margin-top: 25px;
    overflow: hidden;
}
.blog-photo-container2 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.blog-photo-container2 #blog-photo2 {
    box-shadow: 15px 15px paleturquoise;
}

.blog-photo-container2 #blog-photo1 {
    box-shadow: 15px 15px tomato;
}

.blog-content-container3 {
    background-color: #FFD60A;
    padding: 50px;
    border-radius: 50px;
    width: 400px;
    height: 550px;
    margin: 15px;
    margin-top: 25px;
    overflow: hidden;
}

.blog-photo-container3 {
    width: 450px;
    margin-bottom: 50px;
}

.blog-photo-container3 img{
    margin-top: 35px;
    width: 450px;
    
}

.blog-photo-container3 #blog-photo3 {
    box-shadow: 15px 15px sienna;
} 

.blog-photo-container3 #blog-photo4 {
    box-shadow: 15px 15px bisque;
} 

.blog-photo-container4 {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 350px
}

.blog-photo-container4 img {    
    width: 350px;
    box-shadow: 15px 15px plum;
}

.blog-content-container4 {
    background-color: goldenrod;
    padding: 50px;
    border-radius: 50px;
    width: 500px;
    height: 400px;
    margin: 15px;
    margin-top: 25px;
    overflow: hidden;
}

/* Blog-page Responsiveness */

@media screen and (max-width: 935px) {
    .blog-container h1 {
        font-size: 18px;
    }


    #blog-photo1 {
        width: 330px;
    }

    #blog-photo2 {
        width: 330px;
    }

    #blog-photo3 {
        width: 350px;
    }

    #blog-photo4 {
        width: 350px;
    }

    #blog-photo5 {
        width: 350px;
    }



    .blog-content-container4 {
    }

    .blog-content-container3 {
        width: 350px;
    }
        
}
@media screen and (max-width: 1280px) {
    .blog-container {
    margin: 75px 25px 25px;
    }
}

@media screen and (max-width: 1150px) {
    .blog-container {
    margin: 75px 15px 15px;
}

/* About-me CSS */

 .slideshow-container {
    margin: 25px;
 }

 .slider-wrapper {
    position: relative;
    max-width: 48rem;
    /* forces the images to take up that much space */
    margin: 0 auto;
    /* left and right auto means the image will center itself on the slider horizontally */
 }

 .slider {
    display: flex;
    aspect-ratio: 16 / 9;
    /* this sets the aspect ratio of images, an attribute i didn't know existed */
    overflow-x: auto;
    /* the images that overflow will have a scrollbar that will allow the user to scroll the images left to right */
    scroll-snap-type: x mandatory;
    /* the "x" value actions the sliding images to snap along the x-axis, the mandatory 
    value is a conditional value which forces images to always snap to the next position  */
    scroll-behavior: smooth;
    /* smoothens the scroll transition */
    box-shadow: 0 1.5rem 3rem -0.75rem hsla (0, 0%, 0%, 0.25);
    /* boxshadow: x offset, y offset, blur, spread - hsla: hue, saturation, lightness, alpha  */
    border-radius: 0.5rem ;
 }

 .slider img {
    flex: 1 0 100%;
    /* flex is a short-hand property which controls: flex grow, flex shrink, flex basis  */
    /* flex grow to 1 every image is an equal size within the container  */
    /* flex shrink to 0 every image will retain the width it needs and will prevent wrapping  */
    /* flex basis every image will have an initial size of 100% (taking up the entire parent container) */
    scroll-snap-align: start; 
    /* images will snap or stop at the start of the image element of the parent container */
    object-fit: cover;
    /* this makes the image fit the height and width of the container whilst maintained aspect ratio  */
 }

 .slider-nav {
    display: flex;
    column
 }